.App {
  text-align: center;
}

.App-logo{
  max-width: 250px;
  margin-top: 50px;
}

.App-header {
  background-color: #222;
  height: 300px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.container{
  width: 100%;
align-content: center;
}

.display{
  font-size: 40px;
  font-weight: bold;
  height:60px;
  padding:20px;
  margin:auto;
  margin-top:40px;
  margin-bottom: 80px;
  width:120px;
  text-align: center;
  background-color: darkgrey;
}

.button-bar{
  font-size: 26px;
  margin:auto;
  width:300px;
  text-align: center;
  display:flex;

}

.button{
  width:100px;
  flex:1;
  padding:10px;
  margin:5px;
  display: inline-block;
  text-align: center;
  color:white;
  font-size: 16px;
  border:none;
  font-weight: bold;
  border-radius:2px;
  box-shadow: black;
}
.button:hover{
  cursor:pointer;
}

.btn-start{
 background-color: green;
}

.btn-start:hover{
  background-color: greenyellow;
}

.btn-stop {
  background-color: red;
}
.btn-stop:hover{
  background-color: darkred;

}
.btn-reset{
  background-color: antiquewhite;
  color:gray;

}
.btn-reset:hover{
  background-color: aquamarine;
}

.filter{
  border:none;
  padding:10px;
  background-color: greenyellow;
  color: red;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  flex: 1;
  margin-left: 10px;
}
.filter:hover{
  cursor:pointer;
  font-weight: bold;
}

.tool-box{
  display:flex;
  max-width: 320px;
  width:100%;

}
